* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: #36393f;
  color: #dcddde;
  font-size: 16px;
  line-height: 1.375;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Discord scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #202225;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a1c1f;
}

