.server-view {
  display: flex;
  flex: 1;
  min-width: 0;
  height: 100vh;
  background: #36393f;
  overflow: hidden;
}

.dm-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.dm-header {
  height: 48px;
  padding: 0 16px;
  background: #36393f;
  border-bottom: 1px solid rgba(4, 4, 5, 0.3);
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #fff;
  box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
  flex-shrink: 0;
}

